  </main>
  <script src="/js/toast.js"></script>
  <script src="/js/forms.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>
